## tries

In [8]:
import psycopg2
conn = psycopg2.connect(
    host="localhost",
    database="Labaratuar",
    user="postgres",
    password="4664")
cursor = conn.cursor()
cursor.execute("select version()")
data = cursor.fetchone()
#print("Connection established to: ",data)

In [13]:

import pandas as pd
calisanlar = pd.read_sql('SELECT * FROM calisan', conn)

pembe_calisanlar = calisanlar[calisanlar["ekipadı"] == "Pink"]

pembe_calisanlar.to_sql('pembe_calisanlar_tablosu', conn)

read_pembe_calisanlar = pd.read_sql('SELECT * FROM pembe_calisanlar_tablosu', conn)
read_pembe_calisanlar

C:\Windows\Temp\ipykernel_3724\895067562.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  calisanlar = pd.read_sql('SELECT * FROM calisan', conn)
C:\Windows\Temp\ipykernel_3724\895067562.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pembe_calisanlar.to_sql('pembe_calisanlar_tablosu', conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^

In [14]:
pembe_calisanlar

            ssn      ad      soyad  yaş cinsiyet ekipadı    maas calisantipi
5   380-01-8869  Tanney    Rugiero   21        M    Pink     NaN     Stajyer
6   510-52-7654  Jillie      Mogie   23        F    Pink     NaN     Stajyer
18  732-85-2022   Ariel    Hearons   33        M    Pink  8596.0      Maasli
25  815-50-0245  Curcio  Elkington   45        M    Pink  8036.0      Maasli
26  555-72-2551  Roarke      Futty   46        M    Pink  9924.0      Maasli

In [ ]:
"""
query  = """SELECT * FROM bina"""
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    id = row[0]
    print (id)"""

1
2
3
4
5
6
7
8
9

In [88]:
from pypika import Query, Table, Field, Schema

def set_salaries(x, ekipler = None):
    calisan = Table('calisan')

    if ekipler == None:
        q = Query.update(calisan).set(calisan.maas,calisan.maas*x).where(calisan.calisantipi == 'Maasli')
        cursor.execute(q.get_sql())
        conn.commit()
    else:
        for ekip in ekipler:
            q = Query.update(calisan).set(calisan.maas,calisan.maas*x).where(
                calisan.calisantipi == 'Maasli' and calisan.ekipadı == ekip
            )
            cursor.execute(q.get_sql())
            conn.commit()

In [95]:
# set_salaries(5,['Violet'])

In [96]:
query  = """SELECT * FROM calisan"""
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    print (row[5],row[6])

Mauv None
Mauv None
Mauv None
Mauv None
Teal None
Pink None
Pink None
Crimson None
Aquamarine None
Fuscia None
Fuscia None
Mauv 9140
Mauv 9556
Mauv 8072
Teal 6300
Teal 8288
Teal 8524
Teal 7412
Pink 8596
Violet None
Violet 176200
Violet 197100
Violet 183800
Violet 174800
Violet 246200
Pink 8036
Pink 9924
Crimson 6700
Crimson 6932
Crimson 8116
Crimson 8412
Aquamarine 9940
Aquamarine 7224
Aquamarine 7352
Fuscia 8092

In [ ]:
from pypika import Query, Table, Field
from pypika import Table, Query, Schema

schema = Schema('public')
q = Query.from_(schema.bina).select(bina.binano)

"""q = Query.from_('binano').select('bno')"""

cursor.execute(q.get_sql())
conn.commit()
for row in results:
    print (*row)

Violet 6 1 1 4YE-7D 166-43-7912
Mauv 7 2 2 0IW-7O 234-12-6829
Teal 5 3 3 5TU-2V 774-36-4715
Pink 5 4 4 0PR-9F 815-50-0245
Crimson 5 5 5 1KA-7Z 231-49-7354
Aquamarine 4 6 6 8ZG-9L 530-96-4632
Fuscia 3 7 7 3ZB-3C 359-58-9438

In [ ]:
from pypika import Query
q = Query.from_('bina').select('binano')

cursor.execute(q.get_sql())
conn.commit()
results = cursor.fetchall()
for row in results:
    print (*row)

1
2
3
4
5
6
7
8
9

In [ ]:
from pypika import Query, Table, Field, Schema

calisan = Table('calisan')

q = Query.update(calisan).set(calisan.maas,calisan.maas*0.5).where(calisan.calisantipi == 'Maasli')
cursor.execute(q.get_sql())
conn.commit()

In [ ]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

user = 'postgres'
password = '4664'
host = 'localhost'
port = 5432
database = 'Labaratuar'
  
# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )
  
  
if name == '__main__':
  
    try:
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
        engine = get_connection()
        print(
            f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

conn = engine.connect()

  
table = pd.read_sql('SELECT * FROM calisan', conn)
print(table)
table.to_sql('k', engine, if_exists='replace', index=False)

In [ ]:
engine = get_connection()

In [ ]:
import pandas as pd
calisanlar = pd.read_sql('SELECT * FROM calisan', conn)

pembe_calisanlar = calisanlar[calisanlar["ekipadı"] == "Pink"]

pembe_calisanlar.to_sql('pembe_calisanlar_tablosu', conn)

read_pembe_calisanlar = pd.read_sql('SELECT * FROM pembe_calisanlar_tablosu', conn)
read_pembe_calisanlar

# Metotlar

In [ ]:
def get_engine_and_conn():
    import psycopg2
    import pandas as pd
    from sqlalchemy import create_engine
    user, password, host, port, database = 'postgres', '4664', 'localhost', 5432, 'Labaratuar'

    try:
        # get the connection object (engine) for the database
        engine = create_engine(url="postgresql://{0}:{1}@{2}:{3}/{4}".format(user, password, host, port, database))
        print(f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)
    
    return engine, engine.connect()

## get

In [1]:
def get_table(table_name, constraints=""):
    """
    tablo adı ve gerekli constraint'ler string şeklinde sağlanmalıdır:
    get_table("calisan")
    get_table("calisan", constraints="calisanadı='jack' AND maaş=6")
    get_table("virüs", constraints="virüstipi='rna' AND ipliksayisi>200 OR genomsayisi<130 AND virüsadı!='vty-4'")
    """
    engine, conn = get_engine_and_conn()
    where = "" if constraints=="" else ' WHERE '
    table = pd.read_sql('SELECT * FROM ' + table_name + where + constraints, conn)
    return table

## set

In [3]:
def set_table(table_name, constraints="", new_values_dict={},):
    """
    tablo adı ve gerekli constraint'ler string şeklinde sağlanmalıdır:
    set_table("calisan")
    set_table("calisan", constraints = "calisanadı='jack'", new_values_dict = {"maaş":5000, "ekipadi":"ekibi yok"})
    set_table("virüs", constraints = "virüstipi='rna' AND ipliksayisi>200 AND virüsadı!='vty-4'", new_values_dict = {"genomsayisi":0, "virüsadi":"çok iplikli rna virüs"})
    """
    engine, conn = get_engine_and_conn()
    full_table = get_table(table_name)
    selected_table = get_table(table_name, constraints)

    import itertools
    for change in itertools.product(selected_table.index, list(zip(new_values_dict.keys(), new_values_dict.values()))):
        selected_table.loc[change[0], change[1][0]] = change[1][1]

    full_table.update(selected_table)
    full_table.to_sql(table_name, engine, if_exists='replace', index=False)