## tries

In [1]:
import psycopg2
conn = psycopg2.connect(
    host="localhost",
    database="Labaratuar",
    user="postgres",
    password="4664")
cursor = conn.cursor()
cursor.execute("select version()")
data = cursor.fetchone()
#print("Connection established to: ",data)

In [2]:

import pandas as pd
calisanlar = pd.read_sql('SELECT * FROM calisan', conn)

pembe_calisanlar = calisanlar[calisanlar["ekipadÄ±"] == "Pink"]

pembe_calisanlar.to_sql('pembe_calisanlar_tablosu', conn)

read_pembe_calisanlar = pd.read_sql('SELECT * FROM pembe_calisanlar_tablosu', conn)
read_pembe_calisanlar

C:\Windows\Temp\ipykernel_13736\895067562.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  calisanlar = pd.read_sql('SELECT * FROM calisan', conn)
C:\Windows\Temp\ipykernel_13736\895067562.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pembe_calisanlar.to_sql('pembe_calisanlar_tablosu', conn)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': syntax error at or near ";"
LINE 1: ...ELECT name FROM sqlite_master WHERE type='table' AND name=?;
                                                                      ^

In [14]:
pembe_calisanlar

            ssn      ad      soyad  yaÅ cinsiyet ekipadÄ±    maas calisantipi
5   380-01-8869  Tanney    Rugiero   21        M    Pink     NaN     Stajyer
6   510-52-7654  Jillie      Mogie   23        F    Pink     NaN     Stajyer
18  732-85-2022   Ariel    Hearons   33        M    Pink  8596.0      Maasli
25  815-50-0245  Curcio  Elkington   45        M    Pink  8036.0      Maasli
26  555-72-2551  Roarke      Futty   46        M    Pink  9924.0      Maasli

In [ ]:
"""
query  = """SELECT * FROM bina"""
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    id = row[0]
    print (id)"""

1
2
3
4
5
6
7
8
9

In [88]:
from pypika import Query, Table, Field, Schema

def set_salaries(x, ekipler = None):
    calisan = Table('calisan')

    if ekipler == None:
        q = Query.update(calisan).set(calisan.maas,calisan.maas*x).where(calisan.calisantipi == 'Maasli')
        cursor.execute(q.get_sql())
        conn.commit()
    else:
        for ekip in ekipler:
            q = Query.update(calisan).set(calisan.maas,calisan.maas*x).where(
                calisan.calisantipi == 'Maasli' and calisan.ekipadÄ± == ekip
            )
            cursor.execute(q.get_sql())
            conn.commit()

In [95]:
# set_salaries(5,['Violet'])

In [96]:
query  = """SELECT * FROM calisan"""
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    print (row[5],row[6])

Mauv None
Mauv None
Mauv None
Mauv None
Teal None
Pink None
Pink None
Crimson None
Aquamarine None
Fuscia None
Fuscia None
Mauv 9140
Mauv 9556
Mauv 8072
Teal 6300
Teal 8288
Teal 8524
Teal 7412
Pink 8596
Violet None
Violet 176200
Violet 197100
Violet 183800
Violet 174800
Violet 246200
Pink 8036
Pink 9924
Crimson 6700
Crimson 6932
Crimson 8116
Crimson 8412
Aquamarine 9940
Aquamarine 7224
Aquamarine 7352
Fuscia 8092

In [ ]:
from pypika import Query, Table, Field
from pypika import Table, Query, Schema

schema = Schema('public')
q = Query.from_(schema.bina).select(bina.binano)

"""q = Query.from_('binano').select('bno')"""

cursor.execute(q.get_sql())
conn.commit()
for row in results:
    print (*row)

Violet 6 1 1 4YE-7D 166-43-7912
Mauv 7 2 2 0IW-7O 234-12-6829
Teal 5 3 3 5TU-2V 774-36-4715
Pink 5 4 4 0PR-9F 815-50-0245
Crimson 5 5 5 1KA-7Z 231-49-7354
Aquamarine 4 6 6 8ZG-9L 530-96-4632
Fuscia 3 7 7 3ZB-3C 359-58-9438

In [ ]:
from pypika import Query
q = Query.from_('bina').select('binano')

cursor.execute(q.get_sql())
conn.commit()
results = cursor.fetchall()
for row in results:
    print (*row)

1
2
3
4
5
6
7
8
9

In [ ]:
from pypika import Query, Table, Field, Schema

calisan = Table('calisan')

q = Query.update(calisan).set(calisan.maas,calisan.maas*0.5).where(calisan.calisantipi == 'Maasli')
cursor.execute(q.get_sql())
conn.commit()

In [11]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

user = 'postgres'
password = '4664'
host = 'localhost'
port = 5432
database = 'Labaratuar'
  
# PYTHON FUNCTION TO CONNECT TO THE POSTGRESQL DATABASE AND
# RETURN THE SQLACHEMY ENGINE OBJECT
def get_connection():
    return create_engine(
        url="postgresql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        )
    )
  
try:
        # GET THE CONNECTION OBJECT (ENGINE) FOR THE DATABASE
    engine = get_connection()
    print(f"Connection to the {host} for user {user} created successfully.")
except Exception as ex:
    print("Connection could not be made due to the following error: \n", ex)

conn = engine.connect()
  
table = pd.read_sql('SELECT * FROM calisan', conn)
print(table)
table.to_sql('k', engine, if_exists='replace', index=False)

Connection to the localhost for user postgres created successfully.
            ssn            ad          soyad  yaÅ cinsiyet     ekipadÄ±  \
0   123-28-6693           Ave      Mainstone   24        M        Mauv
1   790-70-4559        Warren         Pachta   20        M        Mauv
2   175-81-0862          Seka        Patmore   22        F        Mauv
3   259-38-3805        Fraser         Badham   22        M        Mauv
4   502-01-3889         Shaun         Budden   22        F        Teal
5   380-01-8869        Tanney        Rugiero   21        M        Pink
6   510-52-7654        Jillie          Mogie   23        F        Pink
7   208-43-7833        Judith       Leverson   23        F     Crimson
8   581-14-2346          Jule        Suscens   25        M  Aquamarine
9   294-18-9376     Charmaine          Gylle   22        F      Fuscia
10  129-75-1175         Magda          Yuill   24        F      Fuscia
11  418-27-4741      Nathanil    MacCumiskey   30        M        Mauv
12  238-51-3718         Peria        Pimlott   28        F        Mauv
13  234-12-6829         Grant        Scherer   34        M        Mauv
14  774-36-4715      Jacintha       Shepland   41        F        Teal
15  583-56-1733         Daven         Dictus   28        M        Teal
16  416-25-8769        Darice          Frise   32        F        Teal
17  535-60-1999     Gwendolen          Janic   33        F        Teal
18  732-85-2022         Ariel        Hearons   33        M        Pink
19  298-89-2588            Hi    McClifferty   25        M      Violet
20  207-13-3758       Leonard         Joanic   31        M      Violet
21  166-43-7912  Maximilianus         Coaker   40        M      Violet
22  858-79-9165         Ulick       Champion   28        M      Violet
23  307-50-9221       Basilio       McCarlie   35        M      Violet
24  535-65-0263        Aldwin      Goodboddy   33        M      Violet
25  815-50-0245        Curcio      Elkington   45        M        Pink
26  555-72-2551        Roarke          Futty   46        M        Pink
27  153-08-9822          Reid        Allport   41        M     Crimson
28  231-49-7354          Luke        Godfree   48        M     Crimson
29  828-14-8908        Suzann     Longfellow   35        F     Crimson
30  321-24-1338      Gherardo      Kennerley   39        M     Crimson
31  530-96-4632       Sergent       Clausson   47        M  Aquamarine
32  426-79-3805        Teddie  Waszczykowski   49        M  Aquamarine
33  884-16-6504         Levin    McGillreich   43        M  Aquamarine
34  359-58-9438       Rodolph         Kirkup   40        M      Fuscia

        maas calisantipi
0        NaN     Stajyer
1        NaN     Stajyer
2        NaN     Stajyer
3        NaN     Stajyer
4        NaN     Stajyer
5        NaN     Stajyer
6        NaN     Stajyer
7        NaN     Stajyer
8        NaN     Stajyer
9        NaN     Stajyer
10       NaN     Stajyer
11    9140.0      Maasli
12    9556.0      Maasli
13    8072.0      Maasli
14    6300.0      Maasli
15    8288.0      Maasli
16    8524.0      Maasli
17    7412.0      Maasli
18    8596.0      Maasli
19       NaN     Stajyer
20  176200.0      Maasli
21  197100.0      Maasli
22  183800.0      Maasli
23  174800.0      Maasli
24  246200.0      Maasli
25    8036.0      Maasli
26    9924.0      Maasli
27    6700.0      Maasli
28    6932.0      Maasli
29    8116.0      Maasli
30    8412.0      Maasli
31    9940.0      Maasli
32    7224.0      Maasli
33    7352.0      Maasli
34    8092.0      Maasli

35

In [12]:
import pandas as pd
calisanlar = pd.read_sql('SELECT * FROM calisan', conn)

pembe_calisanlar = calisanlar[calisanlar["ekipadÄ±"] == "Pink"]

pembe_calisanlar.to_sql('pembe_calisanlar_tablosu', conn)

read_pembe_calisanlar = pd.read_sql('SELECT * FROM pembe_calisanlar_tablosu', conn)
read_pembe_calisanlar

,index,ssn,ad,soyad,yaÅ,cinsiyet,ekipadÄ±,maas,calisantipi
0,5,380-01-8869,Tanney,Rugiero,21,M,Pink,NaN,Stajyer
1,6,510-52-7654,Jillie,Mogie,23,F,Pink,NaN,Stajyer
2,18,732-85-2022,Ariel,Hearons,33,M,Pink,8596.0,Maasli
3,25,815-50-0245,Curcio,Elkington,45,M,Pink,8036.0,Maasli
4,26,555-72-2551,Roarke,Futty,46,M,Pink,9924.0,Maasli

# Metotlar

In [1]:
def get_engine_and_conn():
    import psycopg2
    import pandas as pd
    from sqlalchemy import create_engine
    user, password, host, port, database = 'postgres', '4664', 'localhost', 5432, 'Labaratuar'

    try:
        # get the connection object (engine) for the database
        engine = create_engine(url="postgresql://{0}:{1}@{2}:{3}/{4}".format(user, password, host, port, database))
        print(f"Connection to the {host} for user {user} created successfully.")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)
    
    return engine, engine.connect()

**def get_engine_and_conn(): Test**

In [2]:
engine, conn = get_engine_and_conn()

Connection to the localhost for user postgres created successfully.

In [3]:
def check_constraints(table_name, new_values_dict):
    import re
    maas_flag = False

    for (key, value) in zip(new_values_dict.keys(), new_values_dict.values()):
        if key == "binano" and value not in list([str(no) for no in range(1,100)]):
            raise Exception("binano [1-99] arasÄ±nda bir string olmalÄ±") 
        elif key == "labno" and value not in list([str(no) for no in range(1,100)]):
            raise Exception("labno [1-99] arasÄ±nda bir string olmalÄ±")            
        elif key == "kat" and value not in list([str(no) for no in range(1,100)]):
            raise Exception("kat [1-99] arasÄ±nda bir string olmalÄ±")   
        elif key == "lokasyon" and not isinstance(value, str):
            raise Exception("lokasyon bir string olmalÄ±")
        elif table_name == "virÃ¼s" and key == "ad" and ((not isinstance(value, str)) or len(value) != 6):
            raise Exception("virÃ¼s adÄ±, 6 uzunlukta bir string olmalÄ±")
        elif table_name == "ekip" and key == "virÃ¼sadÄ±" and ((not isinstance(value, str)) or len(value) != 6):
            raise Exception("virÃ¼s adÄ±, 6 uzunlukta bir string olmalÄ±")
        elif key in ["genomsay", "ipliksayisi"] and ((not isinstance(value, int)) or value<=0):
            raise Exception("genomsayÄ±sÄ± ve ipliksayisi pozitif bir integer olmalÄ±")
        elif key == "genomtipi" and value not in ["AA", "Aa", "aa"]:
            raise Exception("genomtipi AA, Aa veya aa olmalÄ±")
        elif key == "virÃ¼stipi" and value not in ["rna", "dna"]:
            raise Exception("virÃ¼stipi rna veya dna olmalÄ±")
        elif key == "yas" and ((not isinstance(value, int)) or value<=0):
            raise Exception("yas poziitf bir integer olmalÄ±")
        elif key == "cinsiyet" and value not in ["F", "M"]:
            raise Exception("cinsiyet F ya da M olmalÄ±")
        elif key == "ekipadÄ±" and not isinstance(value, str):
            raise Exception("ekipadÄ± string olmalÄ±")
        elif key == "calisantipi" and value not in ["Maasli", "Stajyer"]:
            raise Exception("calisantipi Maasli veya Stajyer olmalÄ±")
        elif key == "ssn" and re.compile('[0123456789]{3}-[0123456789]{2}-[0123456789]{4}').match(str(value)) is None:
            raise Exception("ssn \"___-__-____\" formatÄ±nda strig olmalÄ±")
        elif key == "bÃ¼yÃ¼klÃ¼k" and (not isinstance(value, int) or value<0):
            raise Exception("bÃ¼yÃ¼klÃ¼k sÄ±fÄ±r veya pozitif bir integer olmalÄ±")
        elif key == "yÃ¶neticissn" and re.compile('[0123456789]{3}-[0123456789]{2}-[0123456789]{4}').match(str(value)) is None:
            raise Exception("ssn \"___-__-____\" formatÄ±nda strig olmalÄ±")
        elif key == "maas" and ((not isinstance(value, int)) or value<0):
            raise Exception("maas sÄ±fÄ±r veya pozitif bir integer olmalÄ±")
        elif key == "maas":
            maas_flag = True

    print("maas_flag: ", maas_flag)
    return maas_flag

In [4]:
def check_primary_keys(table_name, new_values_dict, full_table):
    if table_name == "bina" and "binano" in new_values_dict.keys()  and new_values_dict["binano"] in list(full_table["binano"]):
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")
    if table_name == "ekip" and "ekipadÄ±" in new_values_dict.keys()  and new_values_dict["ekipadÄ±"] in list(full_table["ekipadÄ±"]):
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")
    if table_name == "Ã§alÄ±Åan" and "ssn" in new_values_dict.keys()  and new_values_dict["ssn"] in list(full_table["ssn"]):
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")
    if table_name == "virÃ¼s" and "ad" in new_values_dict.keys()  and new_values_dict["ad"] in list(full_table["ad"]):
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")
    if table_name == "bina lokasyon" and "binano" in new_values_dict.keys()  and new_values_dict["binano"] in list(full_table["binano"]):
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")
    if table_name == "labaratuvar" and ("binano" in new_values_dict.keys() and "labno" in new_values_dict.keys())  and [new_values_dict["binano"], new_values_dict["labno"]] in [[bn, ln] for bn, ln in full_table[["binano", "labno"]].values]:
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")
    if table_name == "labaratuvar malzemeler" and ("binano" in new_values_dict.keys() and "labno" in new_values_dict.keys())  and [new_values_dict["binano"], new_values_dict["labno"]] in [[bn, ln] for bn, ln in full_table[["binano", "labno"]].values]:
        raise Exception("primary key'i zaten tabloda bulunan bir key'le deÄiÅtiremezsiniz")

## get

In [7]:
def get_table(table_name, column_names = "*", constraints=""):
    import pandas as pd
    """
    tablo adÄ± ve gerekli constraint'ler string Åeklinde saÄlanmalÄ±dÄ±r:
    get_table("calisan")
    get_table("calisan", column_names="adi, soyadi" constraints="calisanadÄ±='jack' AND maaÅ=6")
    get_table("virÃ¼s", column_names="ipliksayisi as Ä°S", constraints="virÃ¼stipi='rna' AND ipliksayisi>200 OR genomsayisi<130 AND virÃ¼sadÄ±!='vty-4'")
    """
    engine, conn = get_engine_and_conn()
    where = "" if constraints=="" else ' WHERE '

    table = pd.read_sql('SELECT ' + column_names + ' FROM ' + table_name + where + constraints, conn)
    return table

**get deneme**

In [15]:
get_table("calisan", constraints="yaÅ=24")

Connection to the localhost for user postgres created successfully.

           ssn     ad      soyad  yaÅ cinsiyet    ekipadÄ±  maas calisantipi
0  123-28-6693    Ave  Mainstone   24        M  ekibi yok  None     Stajyer
1  129-75-1175  Magda      Yuill   24        F  ekibi yok  None     Stajyer

In [16]:
get_table("calisan", constraints = "ad='Ulick'")

Connection to the localhost for user postgres created successfully.

           ssn     ad     soyad  yaÅ cinsiyet    ekipadÄ±      maas calisantipi
0  858-79-9165  Ulick  Champion   28        M  ekibi yok  183800.0      Maasli

In [15]:
get_table("calisan")

Connection to the localhost for user postgres created successfully.

,ssn,ad,soyad,yaÅ,cinsiyet,ekipadÄ±,maas,calisantipi
0,123-28-6693,Ave,Mainstone,24,M,Mauv,NaN,Stajyer
1,790-70-4559,Warren,Pachta,20,M,Mauv,NaN,Stajyer
2,175-81-0862,Seka,Patmore,22,F,Mauv,NaN,Stajyer
3,259-38-3805,Fraser,Badham,22,M,Mauv,NaN,Stajyer
4,502-01-3889,Shaun,Budden,22,F,Teal,NaN,Stajyer
5,380-01-8869,Tanney,Rugiero,21,M,Pink,NaN,Stajyer
6,510-52-7654,Jillie,Mogie,23,F,Pink,NaN,Stajyer
7,208-43-7833,Judith,Leverson,23,F,Crimson,NaN,Stajyer
8,581-14-2346,Jule,Suscens,25,M,Aquamarine,NaN,Stajyer
9,294-18-9376,Charmaine,Gylle,22,F,Fuscia,NaN,Stajyer
10,129-75-1175,Magda,Yuill,24,F,Fuscia,NaN,Stajyer
11,418-27-4741,Nathanil,MacCumiskey,30,M,Mauv,9140.0,Maasli
12,238-51-3718,Peria,Pimlott,28,F,Mauv,9556.0,Maasli
13,234-12-6829,Grant,Scherer,34,M,Mauv,8072.0,Maasli
14,774-36-4715,Jacintha,Shepland,41,F,Teal,6300.0,Maasli
15,583-56-1733,Daven,Dictus,28,M,Teal,8288.0,Maasli
16,416-25-8769,Darice,Frise,32,F,Teal,8524.0,Maasli
17,535-60-1999,Gwendolen,Janic,33,F,Teal,7412.0,Maasli
18,732-85-2022,Ariel,Hearons,33,M,Pink,8596.0,Maasli
19,298-89-2588,Hi,McClifferty,25,M,Violet,NaN,Stajyer
20,207-13-3758,Leonard,Joanic,31,M,Violet,176200.0,Maasli
21,166-43-7912,Maximilianus,Coaker,40,M,Violet,197100.0,Maasli
22,858-79-9165,Ulick,Champion,28,M,Violet,183800.0,Maasli
23,307-50-9221,Basilio,McCarlie,35,M,Violet,174800.0,Maasli
24,535-65-0263,Aldwin,Goodboddy,33,M,Violet,246200.0,Maasli
25,815-50-0245,Curcio,Elkington,45,M,Pink,8036.0,Maasli
26,555-72-2551,Roarke,Futty,46,M,Pink,9924.0,Maasli
27,153-08-9822,Reid,Allport,41,M,Crimson,6700.0,Maasli
28,231-49-7354,Luke,Godfree,48,M,Crimson,6932.0,Maasli
29,828-14-8908,Suzann,Longfellow,35,F,Crimson,8116.0,Maasli
30,321-24-1338,Gherardo,Kennerley,39,M,Crimson,8412.0,Maasli
31,530-96-4632,Sergent,Clausson,47,M,Aquamarine,9940.0,Maasli
32,426-79-3805,Teddie,Waszczykowski,49,M,Aquamarine,7224.0,Maasli
33,884-16-6504,Levin,McGillreich,43,M,Aquamarine,7352.0,Maasli
34,359-58-9438,Rodolph,Kirkup,40,M,Fuscia,8092.0,Maasli

## set

In [59]:
def set_table(table_name, constraints="", new_values_dict={}):
    import re
    """
    tablo adÄ± ve gerekli constraint'ler string Åeklinde saÄlanmalÄ±dÄ±r:
    set_table("calisan")
    set_table("calisan", constraints = "ad='jack'", new_values_dict = {"maa":5000, "ekipadÄ±":"ekibi yok"})
    set_table("virÃ¼s", constraints = "virÃ¼stipi='rna' AND ipliksayisi>200 AND ad!='vty-4'", new_values_dict = {"genomsay":0, "ad":"Ã§ok iplikli rna virÃ¼s"})
    """
    table_name = str.lower(table_name)

    maas_flag = check_constraints(table_name, new_values_dict)

    selected_table = get_table(table_name, constraints = constraints)
    full_table = get_table(table_name)
    
    if maas_flag: #burasÄ± Ã§alÄ±ÅmÄ±yor
        selected_table = selected_table[selected_table["calisantipi"] == "Maasli"]
    check_primary_keys(table_name, new_values_dict, full_table)
    import itertools
    for change in itertools.product(selected_table.index, list(zip(new_values_dict.keys(), new_values_dict.values()))):
        selected_table.loc[change[0], change[1][0]] = change[1][1]

    full_table.update(selected_table)
    full_table.to_sql(table_name, engine, if_exists='replace', index=False)

**set deneme**

In [60]:
get_table("calisan",constraints = "ad='Ulick'")

Connection to the localhost for user postgres created successfully.

           ssn     ad     soyad  yaÅ cinsiyet    ekipadÄ±      maas calisantipi
0  858-79-9165  Ulick  Champion   28        M  ekibi yok  183800.0      Maasli

In [64]:
set_table("calisan", constraints = "ad='Ulick'", new_values_dict = {"maas":31, "ekipadÄ±":"ekibi yok"})

maas_flag:  True
Connection to the localhost for user postgres created successfully.
Connection to the localhost for user postgres created successfully.

In [65]:
get_table("calisan")

Connection to the localhost for user postgres created successfully.

,ssn,ad,soyad,yaÅ,cinsiyet,ekipadÄ±,maas,calisantipi
0,858-79-9165,Ulick,Champion,28.0,M,ekibi yok,31.0,Maasli
1,858-79-9165,Ulick,Champion,28.0,M,ekibi yok,31.0,Maasli
2,858-79-9165,Ulick,Champion,28.0,M,ekibi yok,31.0,Maasli
3,259-38-3805,Fraser,Badham,22.0,M,ekibi yok,NaN,Stajyer
4,502-01-3889,Shaun,Budden,22.0,F,ekibi yok,NaN,Stajyer
5,380-01-8869,Tanney,Rugiero,21.0,M,ekibi yok,NaN,Stajyer
6,510-52-7654,Jillie,Mogie,23.0,F,ekibi yok,NaN,Stajyer
7,208-43-7833,Judith,Leverson,23.0,F,ekibi yok,NaN,Stajyer
8,581-14-2346,Jule,Suscens,25.0,M,ekibi yok,NaN,Stajyer
9,294-18-9376,Charmaine,Gylle,22.0,F,ekibi yok,NaN,Stajyer
10,129-75-1175,Magda,Yuill,24.0,F,ekibi yok,NaN,Stajyer
11,418-27-4741,Nathanil,MacCumiskey,30.0,M,ekibi yok,9140.0,Maasli
12,238-51-3718,Peria,Pimlott,28.0,F,ekibi yok,9556.0,Maasli
13,234-12-6829,Grant,Scherer,34.0,M,ekibi yok,8072.0,Maasli
14,774-36-4715,Jacintha,Shepland,41.0,F,ekibi yok,6300.0,Maasli
15,583-56-1733,Daven,Dictus,28.0,M,ekibi yok,8288.0,Maasli
16,416-25-8769,Darice,Frise,32.0,F,ekibi yok,8524.0,Maasli
17,535-60-1999,Gwendolen,Janic,33.0,F,ekibi yok,7412.0,Maasli
18,732-85-2022,Ariel,Hearons,33.0,M,ekibi yok,8596.0,Maasli
19,298-89-2588,Hi,McClifferty,25.0,M,ekibi yok,NaN,Stajyer
20,207-13-3758,Leonard,Joanic,31.0,M,ekibi yok,176200.0,Maasli
21,166-43-7912,Maximilianus,Coaker,40.0,M,ekibi yok,197100.0,Maasli
22,858-79-9165,Ulick,Champion,28.0,M,ekibi yok,183800.0,Maasli
23,307-50-9221,Basilio,McCarlie,35.0,M,ekibi yok,174800.0,Maasli
24,535-65-0263,Aldwin,Goodboddy,33.0,M,ekibi yok,246200.0,Maasli
25,815-50-0245,Curcio,Elkington,45.0,M,ekibi yok,8036.0,Maasli
26,555-72-2551,Roarke,Futty,46.0,M,ekibi yok,9924.0,Maasli
27,153-08-9822,Reid,Allport,41.0,M,ekibi yok,6700.0,Maasli
28,231-49-7354,Luke,Godfree,48.0,M,ekibi yok,6932.0,Maasli
29,828-14-8908,Suzann,Longfellow,35.0,F,ekibi yok,8116.0,Maasli
30,321-24-1338,Gherardo,Kennerley,39.0,M,ekibi yok,8412.0,Maasli
31,530-96-4632,Sergent,Clausson,47.0,M,ekibi yok,9940.0,Maasli
32,426-79-3805,Teddie,Waszczykowski,49.0,M,ekibi yok,7224.0,Maasli
33,884-16-6504,Levin,McGillreich,43.0,M,ekibi yok,7352.0,Maasli
34,359-58-9438,Rodolph,Kirkup,40.0,M,ekibi yok,8092.0,Maasli

In [8]:
# 
# tablolarÄ± dÃ¼zgÃ¼n domain'de oku
# foreign key deÄiÅtirmelerinde her tabloda deÄiÅiklik yap
#

In [9]:
def set_data():
    import pandas as pd
    bina = pd.read_csv("bina.csv")
    binalokasyon = pd.read_csv("binalokasyon.csv")
    calisan = pd.read_csv("calisan.csv")
    ekip = pd.read_csv("ekip.csv")
    virus = pd.read_csv("virus.csv")
    laboratuar = pd.read_csv("laboratuar.csv")
    laboratuarmalzemeler = pd.read_csv("laboratuarmalzemeler.csv")

    return bina, binalokasyon, calisan, ekip, virus, laboratuar, laboratuarmalzemeler
bina, binalokasyon, calisan, ekip, virus, laboratuar, laboratuarmalzemeler = set_data()