In [90]:
import psycopg2

In [91]:
conn = psycopg2.connect(
    host="localhost",
    database="Labaratuar",
    user="postgres",
    password="4664")

In [92]:
cursor = conn.cursor()

In [93]:
cursor.execute("select version()")

In [94]:
data = cursor.fetchone()
print("Connection established to: ",data)

Connection established to:  ('PostgreSQL 15.1, compiled by Visual C++ build 1914, 64-bit',)

In [ ]:
"""
query  = """SELECT * FROM bina"""
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    id = row[0]
    print (id)"""

1
2
3
4
5
6
7
8
9

In [88]:
from pypika import Query, Table, Field, Schema

def set_salaries(x, ekipler = None):
    calisan = Table('calisan')

    if ekipler == None:
        q = Query.update(calisan).set(calisan.maas,calisan.maas*x).where(calisan.calisantipi == 'Maasli')
        cursor.execute(q.get_sql())
        conn.commit()
    else:
        for ekip in ekipler:
            q = Query.update(calisan).set(calisan.maas,calisan.maas*x).where(
                calisan.calisantipi == 'Maasli' and calisan.ekipadÄ± == ekip
            )
            cursor.execute(q.get_sql())
            conn.commit()

In [95]:
# set_salaries(5,['Violet'])

In [96]:
query  = """SELECT * FROM calisan"""
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    print (row[5],row[6])

Mauv None
Mauv None
Mauv None
Mauv None
Teal None
Pink None
Pink None
Crimson None
Aquamarine None
Fuscia None
Fuscia None
Mauv 9140
Mauv 9556
Mauv 8072
Teal 6300
Teal 8288
Teal 8524
Teal 7412
Pink 8596
Violet None
Violet 176200
Violet 197100
Violet 183800
Violet 174800
Violet 246200
Pink 8036
Pink 9924
Crimson 6700
Crimson 6932
Crimson 8116
Crimson 8412
Aquamarine 9940
Aquamarine 7224
Aquamarine 7352
Fuscia 8092

In [ ]:
from pypika import Query, Table, Field
from pypika import Table, Query, Schema

schema = Schema('public')
q = Query.from_(schema.bina).select(bina.binano)

"""q = Query.from_('binano').select('bno')"""

cursor.execute(q.get_sql())
conn.commit()
for row in results:
    print (*row)

Violet 6 1 1 4YE-7D 166-43-7912
Mauv 7 2 2 0IW-7O 234-12-6829
Teal 5 3 3 5TU-2V 774-36-4715
Pink 5 4 4 0PR-9F 815-50-0245
Crimson 5 5 5 1KA-7Z 231-49-7354
Aquamarine 4 6 6 8ZG-9L 530-96-4632
Fuscia 3 7 7 3ZB-3C 359-58-9438

In [ ]:
from pypika import Query
q = Query.from_('bina').select('binano')

cursor.execute(q.get_sql())
conn.commit()
results = cursor.fetchall()
for row in results:
    print (*row)

1
2
3
4
5
6
7
8
9

In [ ]:
from pypika import Query, Table, Field, Schema

calisan = Table('calisan')

q = Query.update(calisan).set(calisan.maas,calisan.maas*0.5).where(calisan.calisantipi == 'Maasli')
cursor.execute(q.get_sql())
conn.commit()