In [1]:
import psycopg2

In [22]:
conn = psycopg2.connect(
    host="localhost",
    database="Labaratuar",
    user="postgres",
    password="4664")

In [23]:
cursor = conn.cursor()

In [24]:
cursor.execute("select version()")

In [25]:
data = cursor.fetchone()
print("Connection established to: ",data)

Connection established to:  ('PostgreSQL 15.1, compiled by Visual C++ build 1914, 64-bit',)

In [26]:
print(cursor.fetchall())

[]

In [37]:
query  = """SELECT * FROM bina"""

In [31]:
cursor.execute(query)
conn.commit()

In [32]:
results = cursor.fetchall()
for row in results:
    id = row[0]
    print (id)

1
2
3
4
5
6
7

In [36]:
add_query = """INSERT INTO BINA VALUES('9')"""
cursor.execute(add_query)
conn.commit()

In [38]:
cursor.execute(query)
conn.commit()
results = cursor.fetchall()
for row in results:
    id = row[0]
    print (id)

1
2
3
4
5
6
7
8
9